
$flask-box-shadow: 0 20px 40px 0 rgba(107, 154, 212, 0.3);

$grey: #9a9a9a;
$light-blue: #e8fdff;
$dark-blue: #637892;
$light-grey: #ddd;
$blue: #21D4FD;
$violet: #B721FF;
$orange: #ff7d3b;
$black: #2e561c;
$sea: #25b6bf;